* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: rgb(21, 28, 48);
    margin-bottom: 16px;
    font-family: 'Libre Baskerville', serif;
    padding: 16px;
}

body {
    background-color: rgb(29, 41, 73);
    color: white;
    font-family: 'Roboto', sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 64px;
    margin-right: 8px;
    padding: 8px;
}

header li {
    display: inline;
    margin-left: 10px;
    padding: 8px;
}

header li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

header li a:hover {
    color: rgb(207, 197, 197);
}

section .starfield img {
    padding: 8px;
}

section .starfield {
    display: flex;
}

section .starfield-about {
    padding: 8px;
    background-color: rgb(21, 28, 48);
}

section h2{
    margin-bottom: 16px;
    color: white;
}

section a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

section a:hover {
    color: rgb(207, 197, 197);
}

form input,
textarea,
button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    resize: none;
}

section h3 {
    margin-top: 8px;
}

footer {
    background-color: rgb(21, 28, 48);;
    padding: 16px;
    margin-top: 16px;
}